### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import pandas as np

In [3]:
# File to Load 
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [4]:
total_players = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Purchasing Data Analysis calculations for Summary Table

unique_items = len(purchase_data_df["Item ID"].unique())
average_price_per_item = round(purchase_data["Price"].mean(), 2)

total_purchases = purchase_data_df["Purchase ID"].count()
total_revenue = purchase_data_df["Price"].sum()

purchasing_analysis_summary_table_df = pd.DataFrame({
    "Total Unique Items": [unique_items],
    "Average Price": [average_price_per_item],
    "Total Purchases": [total_purchases],
    "Total Revenue": [total_revenue]})
print(purchasing_analysis_summary_table_df)

   Total Unique Items  Average Price  Total Purchases  Total Revenue
0                 183           3.05              780        2379.77

In [7]:

purchasing_analysis_summary_table = pd.DataFrame({
    "Total Unique Items": [unique_items],
    "Average Price": [average_price_per_item],
    "Total Purchases": [total_purchases],
    "Total Revenue": [total_revenue]})



purchasing_analysis_summary_table["Total Revenue"] = purchasing_analysis_summary_table["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_summary_table["Average Price"] = purchasing_analysis_summary_table["Average Price"].map("${:.2f}".format)
purchasing_analysis_summary_table

   Total Unique Items Average Price  Total Purchases Total Revenue
0                 183         $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [28]:
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [25]:
#Looking at data to remove duplicates

duplicates = purchase_data_df.drop_duplicates(['SN'], keep="first")
total_gender_count = duplicates["Gender"].count()
male_gender_count = duplicates["Gender"].value_counts()['Male']
female_gender_count = duplicates["Gender"].value_counts()['Female']
other_gender_count = total_gender_count - female_gender_count - male_gender_count

male_percentage = (male_gender_count/total_gender_count)*100
female_percentage = (female_gender_count/total_gender_count)*100
other_percentage = (other_gender_count /total_gender_count)*100

#Gender Demographics Dataframe

gender_demographics = pd.DataFrame({
    "": ['Male', 'Female', 'Other/Non-Disclosed'],
    "Percentage of Players": [male_percentage, female_percentage, other_percentage],
    "Total Number of Players": [male_gender_count,female_gender_count, other_gender_count]})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.1f}%".format)

print(gender_demographics)

                       Percentage of Players  Total Number of Players
0                 Male                 84.0%                      484
1               Female                 14.1%                       81
2  Other/Non-Disclosed                  1.9%                       11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
# Purchase Analysis grouping by gender
#purchase count, avg. purchase price, avg. totla purchase price per person via gender


total_gender_purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
total_gender_purchase_value = total_gender_purchase_value.round(2)

gender_purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
gender_purchase_count

gender_avg_purchase_price = purchase_data.groupby(["Gender"]).mean()["Price"]
gender_avg_purchase_price = gender_avg_purchase_price.round(2)

per_person_avg_total = total_gender_purchase_value / gender_purchase_count
per_person_avg_total = per_person_avg_total.round(2)

#Purchasing Analysis Summary Table by Gender

gender_purchase_summary_table = pd.DataFrame({"Purchase Count": gender_purchase_count, 
                                              "Average Purchase Price": gender_avg_purchase_price, 
                                              "Total Purchase Value": total_gender_purchase_value, 
                                              "Avg Total Purchase per Person": per_person_avg_total})

print(gender_purchase_summary_table)

                       Purchase Count  Average Purchase Price  \
Gender
Female                            113                    3.20
Male                              652                    3.02
Other / Non-Disclosed              15                    3.35

                       Total Purchase Value  Avg Total Purchase per Person
Gender
Female                               361.94                           3.20
Male                                1967.64                           3.02
Other / Non-Disclosed                 50.19                           3.35

In [48]:
#Formatting the Gender Purchse Summary Table

gender_purchase_summary_table
gender_purchase_summary_table.style.format({"Average Purchase Price": "${:.2f}", "Avg Purchase Total Per Person": "${:.2f}",
                                 "Total Purchase Value": "${:.2f}"})

print(gender_purchase_summary_table)

                       Purchase Count  Average Purchase Price  \
Gender
Female                            113                    3.20
Male                              652                    3.02
Other / Non-Disclosed              15                    3.35

                       Total Purchase Value  Avg Total Purchase per Person
Gender
Female                               361.94                           3.20
Male                                1967.64                           3.02
Other / Non-Disclosed                 50.19                           3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [49]:
#Age Demographics
# Binning for age values.Calling purchase data csv first
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
759,759,Tyaelorap29,25,Male,72,Winter's Bite,3.77
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
762,762,Asur53,26,Male,110,Suspension,1.44
763,763,Lassilsala30,21,Male,85,Malificent Bag,1.75
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
767,767,Ilmol66,8,Female,92,Final Critic,4.88
768,768,Assassasta79,38,Male,92,Final Critic,4.88
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58
770,770,Lirtosia63,34,Male,12,Dawne,1.02
771,771,Iskossasda43,16,Male,25,Hero Cane,4.35
772,772,Asur53,26,Male,136,Ghastly Adamantite Protector,3.58
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [50]:
age_bins = [0,10,15,20,25,30,35,40,200]
age_bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

pd.cut(purchase_data_df["Age"], age_bins, labels=age_bin_labels)

0      15-19
1      35-39
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    15-19
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < >40]

In [54]:
age_demographic = pd.cut(purchase_data_df["Age"], age_bins, labels=age_bin_labels)

#age group calculations - numbers and percentages
age_demographic_count = age_demographic.value_counts()
age_demographic_count = age_demographic_count.round(2)

age_demographic_percentages = age_demographic_count / total_players*100
age_demographic_percentages = age_demographic_percentages.round(2)

age_demographics_summary_table = pd.DataFrame({"Total Count": age_demographic_count, "Percentage of Players": age_demographic_percentages})
age_demographics_summary_table = age_demographics_summary_table.sort_index()
print(age_demographics_summary_table)

       Total Count  Percentage of Players
<10             32                   5.56
10-14           54                   9.38
15-19          200                  34.72
20-24          325                  56.42
25-29           77                  13.37
30-34           52                   9.03
35-39           33                   5.73
>40              7                   1.22

In [55]:
age_demographics_summary_table
age_demographics_summary_table.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [60]:
#Purchasing Analysis by age
#Bin the purchase_data DataFrame by age

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_bin_labels)


#Calculations for Purchase Analysis by age
#purchase count, avg purchase price, avg purchase total per person
age_purchase_analysis_total = purchase_data.groupby(["Age Group"]).sum()["Price"]
age_purchase_analysis_avg = purchase_data.groupby(["Age Group"]).mean()["Price"]
age_purchase_count = purchase_data.groupby(["Age Group"]).count()["Price"]

avg_total_purchase_per_person = age_purchase_analysis_total / age_purchase_count
avg_total_purchase_per_person = avg_total_purchase_per_person.round(2)

# Purchasing Analysis by Age Summary Table
age_purchase_analysis_summary_table = pd.DataFrame({"Purchase Count": age_purchase_count,
                                                    "Avg Purchase Price": age_purchase_analysis_avg,
                                                    "Avg Purchase Total per Person": avg_total_purchase_per_person})
print(age_purchase_analysis_summary_table)

           Purchase Count  Avg Purchase Price  Avg Purchase Total per Person
Age Group
<10                    32            3.405000                           3.40
10-14                  54            2.900000                           2.90
15-19                 200            3.107800                           3.11
20-24                 325            3.020431                           3.02
25-29                  77            2.875584                           2.88
30-34                  52            2.994423                           2.99
35-39                  33            3.404545                           3.40
>40                     7            3.075714                           3.08

In [61]:
#Format Purchasing Analysis by Age Summary Table
age_purchase_analysis_summary_table.style.format({"Avg Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Avg Purchase Per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [70]:
#Top Spenders Analysis
#Calculations - Purchase Count, Avg Purchase Price, Total Purchase Value
top_spenders = purchase_data

top_spenders_count = purchase_data.groupby(["SN"]).count()["Price"]
top_spenders_count.head()

top_spenders_avg_count = purchase_data.groupby(["SN"]).mean()["Price"]
top_spenders_avg_count = top_spenders_avg_count.round(2)
top_spenders_avg_count.head()

top_spenders_total_purchase_value = purchase_data.groupby(["SN"]).sum()["Price"]
top_spenders_total_purchase_value.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [71]:
top_spenders_summary_table = pd.DataFrame({"Purchase Count": top_spenders_count, 
    "Avg Purchase Price": top_spenders_avg_count, 
    "Total Purchase Value": top_spenders_total_purchase_value})
print(top_spenders_summary_table)

               Purchase Count  Avg Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.28                  2.28
Adastirin33                 1                4.48                  4.48
Aeda94                      1                4.91                  4.91
Aela59                      1                4.32                  4.32
Aelaria33                   1                1.79                  1.79
...                       ...                 ...                   ...
Yathecal82                  3                2.07                  6.22
Yathedeu43                  2                3.01                  6.02
Yoishirrala98               1                4.58                  4.58
Zhisrisu83                  2                3.94                  7.89
Zontibe81                   3                2.68                  8.03

[576 rows x 3 columns]

In [72]:
#Format Top Spenders Analysis Summary Table
top_spenders_summary_table.style.format({"Avg Purchase Price": "${:.2f}", "top_spenders_summary_table": "${:.2f}",
                           "Total Purchase Value": "${:.2f}"})
top_spenders_summary_table.sort_values("Total Purchase Value", ascending=False).head()

             Purchase Count  Avg Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.79                 18.96
Idastidru52               4                3.86                 15.45
Chamjask73                3                4.61                 13.83
Iral74                    4                3.40                 13.62
Iskadarya95               3                4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [4]:
#Most Popular Items
#Retrieve Item ID, Item Name, Item Price columns
#Group by the Item ID, Item Name with calculations to show - purchase count, item price, total purchase value

most_popular_items_df = pd.Dataframe(purchase_data)

popular_items_grouped = most_popular_items_df.groupby(["Item ID", "Item Name"])

most_popular_items_df = pd.DataFrame({"Purchase Count" : most_popular_items_grouped["Price"].count(),
                                "Item Price" : most_popular_items_grouped["Price"].mean(),
                                "Total Purchase Value" : most_popular_items_grouped["Price"].sum()})

most_popular_items_df = most_popular_items_df.sort_values("Purchase Count", ascending=False)

most_popular_items_df["Item Price"] = most_popular_items_df["Total Purchase Value"].map("{:,.2f}".format)


most_popular_items_df.head()

NameError: name 'pd' is not defined

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame